name: Update and deploy Docker images

on:
  push:
    branches:
      - main

jobs:
  build-nginx:
    uses: netwerk-digitaal-erfgoed/workflows/.github/workflows/deploy.yml@main
    with:
      target: nginx
    secrets:
      CONTAINER_REGISTRY_TOKEN: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}

  build-php-fpm:
    uses: netwerk-digitaal-erfgoed/workflows/.github/workflows/deploy.yml@main
    with:
      target: php-fpm
    secrets:
      CONTAINER_REGISTRY_TOKEN: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}
